In [1]:
# data import
#   quandl
#   alphavantage
#   yahoo finance
#   quantopian

# backtesting
#    quantopian

import numpy as np
import pandas as pd
import plotly.graph_objs as go
from pandas_datareader import data, wb
from datetime import date

startdate = pd.to_datetime('2018-07-15')
enddate = pd.to_datetime(date.today())

In [2]:
# Yahoo Finance data ingest
data.DataReader("SPY", 'yahoo', startdate, enddate)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-07-16,279.799988,278.839996,279.640015,279.339996,48201000.0,267.490143
2018-07-17,280.910004,278.410004,278.470001,280.470001,52315500.0,268.572174
2018-07-18,281.179993,280.059998,280.559998,281.059998,44593500.0,269.137207
2018-07-19,280.739990,279.459991,280.309998,280.000000,61412100.0,268.122101
2018-07-20,280.480011,279.500000,279.769989,279.679993,82337700.0,267.815704
...,...,...,...,...,...,...
2020-11-17,361.920013,358.339996,359.970001,360.619995,66111000.0,360.619995
2020-11-18,361.500000,356.239990,360.910004,356.279999,70591300.0,356.279999
2020-11-19,358.179993,354.149994,355.600006,357.779999,59940900.0,357.779999
2020-11-20,357.720001,355.250000,357.500000,355.329987,70417300.0,355.329987
2020-11-23,358.820007,354.864990,357.279999,357.459991,52583603.0,357.459991

In [3]:
# Google Finance data ingest
data.DataReader("^DJI", 'stooq', startdate, enddate)

                Open      High       Low     Close     Volume
Date
2020-11-23  29332.82  29667.75  29332.82  29591.27  370660111
2020-11-20  29437.57  29469.89  29231.20  29263.48  383922137
2020-11-19  29370.92  29524.90  29228.38  29483.23  399496812
2020-11-18  29875.40  29930.85  29432.84  29438.42  483344317
2020-11-17  29800.15  29872.42  29520.29  29783.35  451267694
...              ...       ...       ...       ...        ...
2018-07-20  25041.14  25124.10  24986.35  25058.12  274084814
2018-07-19  25139.15  25154.17  25052.62  25064.50  285749714
2018-07-18  25133.79  25215.32  25101.12  25199.29  252926303
2018-07-17  25033.92  25155.39  24989.61  25119.89  250371741
2018-07-16  25025.58  25072.41  24979.64  25064.36  231261164

[596 rows x 5 columns]

In [5]:
# Alphavantage data injest
# Forex GBP to USD
data.DataReader('GBP/USD', 'av-forex', startdate, enddate, api_key='87HJVKT4AOZ1LY0Y')

                                   GBP/USD
From_Currency Code                     GBP
From_Currency Name  British Pound Sterling
To_Currency Code                       USD
To_Currency Name      United States Dollar
Exchange Rate                   1.33210000
Last Refreshed         2020-11-24 00:13:02
Time Zone                              UTC
Bid Price                       1.33208541
Ask Price                       1.33216074

In [9]:
# Live market data by the minute
import yfinance as yf
tickers = ['AAPL', 'MSFT', 'TSLA']
data = yf.download(tickers=tickers, period='5d', interval='1m')
data

[*********************100%***********************]  3 of 3 completed

                            Adj Close                               Close  \
                                 AAPL        MSFT        TSLA        AAPL
Datetime
2020-11-17 09:30:00-05:00  119.841003  216.360001  454.769989  119.841003
2020-11-17 09:31:00-05:00  119.669998  216.993301  453.209991  119.669998
2020-11-17 09:32:00-05:00  120.067902  217.279999  458.156708  120.067902
2020-11-17 09:33:00-05:00  119.989998  217.369995  454.410004  119.989998
2020-11-17 09:34:00-05:00  120.180000  217.500000  451.330902  120.180000
...                               ...         ...         ...         ...
2020-11-23 15:55:00-05:00  113.785004  209.630005  520.820007  113.785004
2020-11-23 15:56:00-05:00  113.760002  209.589996  521.510010  113.760002
2020-11-23 15:57:00-05:00  113.870003  209.804993  521.349976  113.870003
2020-11-23 15:58:00-05:00  113.949898  209.919998  521.149902  113.949898
2020-11-23 15:59:00-05:00  113.879997  210.119995  521.489990  113.879997

                                                         High              \
                                 MSFT        TSLA        AAPL        MSFT
Datetime
2020-11-17 09:30:00-05:00  216.360001  454.769989  119.841003  216.800003
2020-11-17 09:31:00-05:00  216.993301  453.209991  120.070000  217.050003
2020-11-17 09:32:00-05:00  217.279999  458.156708  120.074203  217.339996
2020-11-17 09:33:00-05:00  217.369995  454.410004  120.120003  217.550003
2020-11-17 09:34:00-05:00  217.500000  451.330902  120.190002  217.679993
...                               ...         ...         ...         ...
2020-11-23 15:55:00-05:00  209.630005  520.820007  113.879997  209.949997
2020-11-23 15:56:00-05:00  209.589996  521.510010  113.849998  209.759995
2020-11-23 15:57:00-05:00  209.804993  521.349976  113.910004  209.860001
2020-11-23 15:58:00-05:00  209.919998  521.149902  113.980003  209.990005
2020-11-23 15:59:00-05:00  210.119995  521.489990  114.040001  210.529999

                                              Low                          \
                                 TSLA        AAPL        MSFT        TSLA
Datetime
2020-11-17 09:30:00-05:00  455.000000  119.839996  216.100006  454.750000
2020-11-17 09:31:00-05:00  456.409912  119.669998  216.369995  453.049988
2020-11-17 09:32:00-05:00  458.369995  119.680000  217.029999  453.230713
2020-11-17 09:33:00-05:00  458.529999  119.760002  217.199997  453.839996
2020-11-17 09:34:00-05:00  454.507599  119.910004  217.300003  450.750000
...                               ...         ...         ...         ...
2020-11-23 15:55:00-05:00  521.770020  113.779999  209.630005  520.770020
2020-11-23 15:56:00-05:00  521.510010  113.760002  209.559998  520.780029
2020-11-23 15:57:00-05:00  521.640015  113.750000  209.589996  521.349976
2020-11-23 15:58:00-05:00  521.489990  113.809998  209.740005  521.020020
2020-11-23 15:59:00-05:00  521.869873  113.800003  209.880005  520.530029

                                 Open                           Volume  \
                                 AAPL        MSFT        TSLA     AAPL
Datetime
2020-11-17 09:30:00-05:00  119.839996  216.100006  454.875000  2462374
2020-11-17 09:31:00-05:00  119.860001  216.369995  454.750092   415905
2020-11-17 09:32:00-05:00  119.690002  217.029999  453.391907   418968
2020-11-17 09:33:00-05:00  120.070000  217.240494  458.250000   376436
2020-11-17 09:34:00-05:00  119.989998  217.369995  454.320007   379863
...                               ...         ...         ...      ...
2020-11-23 15:55:00-05:00  113.870003  209.880005  521.291016   694055
2020-11-23 15:56:00-05:00  113.779999  209.639999  520.885010   589327
2020-11-23 15:57:00-05:00  113.764999  209.600006  521.510010   798386
2020-11-23 15:58:00-05:00  113.870003  209.809998  521.400024   885149
2020-11-23 15:59:00-05:00  113.940002  209.910004  521.150024  1536080


                             MSFT     TSLA
Datetime
2020-11-17 09:30:00-05:00  645465  5451055
2020-11-17 09:31:00-05:00   91252   913741
2020-11-17 09:32:00-05:00   91080   812337
2020-11-17 09:33:00-05:00   98787   524119
2020-11-17 09:34:00-05:00   80395   759374
...                           ...      ...
2020-11-23 15:55:00-05:00  158644   154427
2020-11-23 15:56:00-05:00  150863   256332
2020-11-23 15:57:00-05:00  149827   150561
2020-11-23 15:58:00-05:00  154767   184025
2020-11-23 15:59:00-05:00  517675   271718

[1950 rows x 18 columns]